[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.9"
python-decouple = "==3.5"
psycopg2-binary = "==2.9.2"
django-allauth = "==0.46.0"
django-crispy-forms = "==1.13.0"
crispy-bootstrap5 = "==0.6"
pygments = "==2.10.0"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"

[requires]
python_version = "3.9"
