{% extends "base.html" %}
{% load static %}

{% if highlighted_code %}
  {% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/syntax_highlight.css' %}">
  {% endblock %}
{% endif %}

{% block title %}{{ snippet.title }}{% endblock %}

{% block content %}
  <h1 class="fs-3 text-break">{{ snippet.title }}</h1>

  <div class="row">
    <div class="col">
      <p class="text-muted">
        {% if snippet.owner %}
          <span class="me-2" title="Автор текста">
            <i class="bi bi-person fs-5"></i>
            <a href="{{ snippet.owner.get_absolute_url }}">{{ snippet.owner.username }}</a>
          </span>
        {% endif %}
        <span class="me-2" title="Создан">
          <i class="bi bi-calendar fs-5"></i> {{ snippet.created|date:'j M, Y' }}
        </span>
        <span title="Время, через которое этот сниппет будет удалён">
          <i class="bi bi-stopwatch fs-5"></i>
          {% if snippet.expiration %}
            {{ snippet.expiration|timeuntil }}
          {% else %}
            Никогда
          {% endif %}
        </span>
      </p>
    </div>
    <div class="col-auto pe-0">
      <a class="btn btn-outline-warning btn-sm"
         href="{% url 'snippet_edit' snippet.url %}" role="button">
        Редактировать
      </a>
    </div>
    <div class="col-auto">
      <form action="{% url 'snippet_delete' snippet.url %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-danger btn-sm">Удалить</button>
      </form>
    </div>
  </div>

  {% if highlighted_code %}
    <div class="card mb-4">
      <div class="card-header bg-success bg-opacity-50">
        Синтаксис: <span class="fw-bold">{{ snippet.syntax }}</span>
      </div>
      <div class="card-body bg-light table-responsive">
        {{ highlighted_code|safe }}
      </div>
    </div>
  {% endif %}

  <div class="card">
    <div class="card-header bg-warning p-2 text-dark bg-opacity-50">
      Исходный текст
    </div>
    <div class="card-body bg-light">
      <pre>{{ snippet.code }}</pre>
    </div>
  </div>
{% endblock %}