{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Сменить пароль{% endblock %}

{% block content %}
  {% if token_fail %}
    <h1>Неверный токен</h1>
    {% url 'account_reset_password' as passwd_reset_url %}
    <p>Ссылка для сброса пароля была недействительной, возможно, потому, что она уже
      использовалась. <br>
      Пожалуйста запросите <a href="{{ passwd_reset_url }}">сброс нового пароля</a>.</p>
  {% else %}
    {% if form %}
      <div class="row justify-content-start">
        <div class="col-3"></div>
        <div class="col-6 my-4 p-3 border rounded-3 bg-light shadow">
          <h2 class="text-center">Сменить пароль</h2><br>
          <form class="px-2" method="post" action="{{ action_url }}">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="text-center">
              <button class="btn btn-success" type="submit">Сменить пароль</button>
            </div>
          </form>
        </div>
      </div>
    {% else %}
      <h1>Сменить пароль</h1>
      <p>Ваш пароль уже изменен.</p>
    {% endif %}
  {% endif %}
{% endblock %}