{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
  <div class="row justify-content-start">
    <div class="col-3"></div>
    <div class="col-6 my-4 p-3 border rounded-3 bg-light shadow">
      <h2 class="text-center">Сброс пароля</h2><br>
      {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
      {% endif %}
      <p>Забыли пароль?<br>Введите свой e-mail адрес ниже, и мы вышлем вам письмо для
        сброса пароля.</p>
      <form class="px-2" method="post" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-center">
          <button class="btn btn-warning" type="submit">Сбросить мой пароль</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}